$primary-color-1: #62194D;
$primary-color-2: #945381;
$primary-color-3: #D9A3C9;
$primary-color-4: #FFEBF9;

$secondary-color-1: #F9B328;
$secondary-color-2: #FFCB65;
$secondary-color-3: #FFDF9E;
$secondary-color-4: #FFF4DD;

$shade-color: #FFFFFF;
